# Created by .ignore support plugin (hsz.mobi)
*$py.class
*.cover
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
__pycache__/
atlassian-ide-plugin.xml
build/
celerybeat-schedule
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
db.sqlite3
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
htmlcov/
instance/
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
venv/
wheels/
*.iml
